$pink: #C2185B;
$red: #d32f2f;
$purple: #7B1FA2;
$deep-purple: #512DA8;
$indigo: #303F9F;
$blue: #1976D2;
$light-blue: #0288D1;
$cyan: #0097A7;
$teal: #00796B;
$green: #388E3C;
$light-green: #689F38;
$lime: #AFB42B;
$yellow: #FBC02D;
$amber: #FFA000;
$orange: #F57C00;
$deep-orange: #E64A19;
$brown: #5D4037;
$gray: #616161;
$blue-gray: #455A64;
$black: #000000;
$white: #FFFFFF;